.header {
    margin: 0;
    padding: 0;
    padding-left: 10%;
    max-height: 10%;
}
/*images for blog post header backgrounds*/
.header-back-one {
    background-image: url("../media/blogImages/alexandre-debieve.jpeg.jpg");
    height: 250px;
    width: 600px;
    max-height: 15%;
    background-size: cover;
}
.header-back-two {
    background-image: url("../media/blogImages/luca-bravo.jpeg.jpg");
    height: 250px;
    width: 50%;
    max-height: 15%;
    background-size: cover;
}
.header-back-three {
    background-image: url("../media/blogImages/daniel-josef.jpg");
    height: 250px;
    width: 50%;
    max-height: 15%;
    background-size: cover;
}
.header-back-four {
    background-image: url("../media/blogImages/sai-kiran-anagani.jpeg.jpg");
    height: 250px;
    width: 50%;
    max-height: 15%;
    background-size: cover;
}
.header-back-five {
    background-image: url("../media/blogImages/vishnu-mohanan.jpeg.jpg");
    height: 250px;
    width: 50%;
    max-height: 15%;
    background-size: cover;
}
.blog-title {
    font-size: 40px;
    position: absolute;
    color: white;
    padding: 20px 20px;
    margin: auto;
    width: 50%;
}
/*stylings for blog text*/
.blogtext {
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    margin: auto;
    margin-top: 5%;
    min-width: 55%;
    max-width: 75%;
    padding: 40px 40px;
}

.backToTop {
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

/*Media breakpoints specifically for blog posts*/
@media only screen and (max-width: 600px) {
    .header {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
    .header-back-one {
        width: 100%;
    }
    .header-back-two {
        width: 100%;
        }
    .header-back-three {
        width: 100%;
    }
    .header-back-four {
        width: 100%;
    }
    .header-back-five {
        width: 100%;
    }
    .blog-title {
        font-size: 30px;
        padding: 0;
        margin: 0;
        width: 90%;
    }
}
@media only screen and (max-width: 440px) {
    #header-navbar span a {
        font-size: 20px;
        padding: 0;
        margin: 0;   
    }

    .blog-title {
        margin: 0;
        padding: 0;
        font-size: 25px;
    }
    .blogtext p {
        font-size: 15px;
    }
}