section{
    display: flex;
    margin: 1px;
    padding: 1% 1%;
    padding-left: 40px;
    margin-left: 2% 5%;
    padding: 40px;
    margin: 2% 5%;
}

.headingclass {
    text-indent: 30px;
    font-size: 28px;
    border-bottom: solid 2px gray;
}

.infoclass {
    flex-direction: column;
    padding: 0;
}

.biotext {
    text-align: left;
    text-indent: 30px;
    letter-spacing: 1px;
    line-height: 1.5;
    background-color: white;
    padding: 15px;
    border: 1px gray solid;
}
#resume {
    padding-left: 5%;
    margin: 0;
}
.clickable {
    margin: auto;
}
.clickable i {
    font-size: 50px;
    padding: 10px 20px;
}


ul li {
    align-items: center;
    display: inline-block;
}