/*Basic universal design elements*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(149, 200, 202, 0.384);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*Header design elements Photo by Fahmi Fakhrudin*/
header {
    background-color: white;
    display: flex;
    padding: 0px;
    padding-left: 10%;
    border-bottom: 2px solid gray;
}
#header-text {
    font-size: 20px;
    position: relative;
    flex-direction: column;
    padding-top: 1%;
}
/*little round header image*/
#header-image {
    position: relative;
    border-radius: 50%;
    max-height: 150px;
    margin: 10px;
    padding: 0px 10px;
}
        /*Nav-bar position and styling*/
/*styles navbar*/
#header-navbar {
    position: absolute;
    right: 0px;
    margin: 2% 2%;
    color: black;
}
/*styles nav buttons*/
nav span{
    float: right;
    display:inline-block;
    border-right: 1px solid black;
    padding: 6px;
}
/* removes border*/
span:first-child{
    border-right: 0;
}
.filler {
    display: flex;
    height: 100%;
    flex-grow: 1;
}

/*Footer stylings*/
footer {
    background-color: white;
    border-top: 2px solid gray;
    display: flex;
    bottom: 0%;
    height: 100px;
    min-height: 30px;
    margin-top: 10%;
    justify-content: space-around;
    align-items: center;
}
footer a {
    padding: 20px;
}

#footelements {
    display: flex;
    padding: 0px;
}

#footicons {
    font-size: 40px;

}
#catfriend {
    position: relative;
    max-width: 100%;
    height: auto;
    margin: auto;
}

/*CAUTION!!! MEDIA BREAKPOINTS BELOW - DO NOT CONFUSE WITH OTHER CODE*/

/*Media breakpoints*/
@media only screen and (max-width: 1300px){
    #header-navbar {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        float: right;
        margin: 0;
        padding: 20px 20px;
        margin-bottom: 60px;
    }
    header {
        align-items: center;
        justify-content: center;
    }
    nav span {
        border-right: 0;
        border-bottom: 1px black solid;
    }
}


@media only screen and (max-width: 600px) {
    header {
        margin: auto;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15px;
    }
 #header-navbar {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        margin: auto;
    }
    nav span {
        border-right: 1px black solid;
        border-bottom: 0;
    }
    header img { 
        max-height: 150px;
        max-width: 150px;
        margin: auto;
        margin-bottom: 10px;
    }

    .button {
        display: inline-block;
        flex-direction: column;
        padding: 200px;
        position: relative;
    }
    div a {
        padding: 35px;
    }

    div img {
        width: 100%;
    }
    #catfriend {
        height: 40px;
    }
}
@media only screen and (max-width: 440px) {
    body {
        padding: 0;
        margin: 0;
    }
    #header-text h1 {
        font-size: 25px;
    }
    p {
        font-size: 18px;
    } 
    #footicons span a {
        margin: 0;
        padding: 0;
    }

    #resume i {
        font-size: 30px;

    }

}