#blogposts {
    margin: 5% 2%;
    max-height: 650px;
    overflow: scroll;
    overflow-x: hidden;
}
.blog {
    border-bottom: 1px solid gray;
}
.bloghead {
    margin: auto;
    margin-bottom: 10px;
    margin-left: 20px;
    border-bottom: 1px solid gray;
    padding: 5px;
}

.blog1 {
    float: right;
}

.blogimage {
    position: relative;
    color: white;
    padding: 0 15px;
    margin-bottom: 10px;
}
.blogimage span {
    background-color: black;
    position: absolute;
    bottom: 8px;
    left: 20px;
  }
  .blog:nth-of-type(even) {
    background-color: gray;
}
.blog:nth-of-type(odd) {
    background-color: steelblue;
}
div p {
    text-align: left;
}