#blogposts {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5% 2%;
    max-height: 650px;
    overflow: scroll;
    overflow-x: hidden;
}
.blog {
    border: 1px solid red;
    display: flex;
}
h2 {
    margin: 0;
    padding: 0;
}

.blog:nth-of-type(even) {
    background-color: white;
    flex-direction: row-reverse;
}