
/* Stylesheet for Home Page*/

        /* styling for below the header*/

/*styling for whole middle*/
.middle {
    display: flex;
    margin: auto;
    border: solid 1px gray;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    background-image: url("/media/V60-sean-benesh.jpg");
    height: 640px;
    width: auto;
    max-width: 960px;
    max-width: 90%;
    background-position: center;
    background-size: cover;
}
    /*Home page button stylings*/
/* position of buttons*/
.button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
/*button to about page*/
#buttonA {
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
    border-radius: 5%;
    font-size: 24px;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
}
#buttonA:hover {
    background-color: black;
    color: white;
}
/*button to blog page*/
#buttonB {
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
    border-radius: 5%;
    font-size: 24px;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
}
#buttonB:hover {
    background-color: black;
    color: white;
}
/*button to contact page*/
#buttonC {
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
    border-radius: 5%;
    font-size: 24px;
    width: 120px;
    text-decoration: none;
    cursor: pointer;
}
#buttonC:hover {
    background-color: black;
    color: white;
}

