/*Basic universal design elements*/
body {
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header design elements Photo by Fahmi Fakhrudin*/
header {
    display: flex;
    margin: 30px 30px;
}
#header-text {
    position: relative;
    flex-direction: column;
    padding-top: 2%;

}
/*little round header image*/
header img {
    border: solid 1px white;
    border-radius: 50%;
    max-height: 150px;
    margin: 40px 30px;
}
/*Nav-bar position and styling*/
nav span{
    float: right;
    display:inline-block;
    border-right: 1px solid black;
    padding: 5px 10px;
}
span:first-child{
    border-right: 0;
}
#header-navbar {
    position: absolute;
    right: 0px;
    margin: 40px 40px;
}
header a {
    color: rgb(252, 105, 52);
}

/* styling for below the header*/


/*Home page button stylings*/
.middle {
    margin: auto;
    position: relative;
}

div img {
    display: flex;
    max-width: 1000px;
    width: 75%;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
 
}
.button {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 24px;

}
#buttonA {
    background-color: coral;
    border: 2px solid rgb(252, 105, 52);
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
    border-radius: 10%;
}
#buttonB {
    background-color: burlywood;
    border: 2px solid rgb(252, 105, 52);
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
}
#buttonC {
    background-color: rgb(0, 89, 255);
    border: 2px solid rgb(252, 105, 52);
    padding: 15px;
    margin: 0px 20px;
    transition-duration: 0.2s;
}

#buttonA:hover {
    background-color: whitesmoke;
    color: coral;
}
#buttonB:hover {
    background-color: whitesmoke;
    color: rgb(252, 105, 52);
}
#buttonC:hover {
    background-color: whitesmoke;
    color: rgb(0, 89, 255);
}
@media only screen and (max-width: 1100px){
    #header-navbar {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        float: right;
        margin: 0;
        padding: 0;
        margin-bottom: 60px;
    }
    nav span {
        border-right: 0;
        border-bottom: 1px black solid;
    }
}

@media only screen and (max-width: 600px) {
    header {
        margin: auto;
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 15px;
    }
 #header-navbar {
        display: flex;
        flex-direction: row-reverse;
        position: relative;
        float: right;
        width: 75%;
        padding: 0;
        margin: 0;
        margin-left: 20px;
    }
    nav span {
        border-right: 1px black solid;
        border-bottom: 0;
    }
    header img { 
        max-height: 150px;
        max-width: 150px;
        margin: auto;
        margin-bottom: 10px;
    }
    .button {
        flex-direction: column;
        position: absolute;
        top: 35px;
    }
    #buttonA {
        margin-top: 20px;
    }
    #buttonB {
        margin-top: 20px;
    }
    #buttonC {
        margin-top: 20px;
    }
    div img {
        width: 100%;
    }
}
@media only screen and (max-width: 375px) {
    .button {
        top: 10px;
    }
    p {
        font-size: 18px;
    }